.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  min-height: var(--header-height);
  padding-inline: 16px;
}

.header-start,
.header-center,
.header-form-body,
.header-actions {
  display: flex;
  align-items: center;
}

.header-start,
.header-actions {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.header-burger-button,
.header-notifications-button,
.header-form-button,
.header-voice-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-burger-button,
.header-notifications-button {
  width: 40px;
  aspect-ratio: 1;
}

.header-burger-button,
.header-notifications-button {
  background-color: transparent;
  border-radius: 50%;
}

.header-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 123px;
}

.header-center {
  display: flex;
  column-gap: 8px;
}

.header-form,
.header-form-input {
  flex-grow: 1;
}

.header-form-input {
  height: var(--input-height);
  padding-inline: 16px;
  border: var(--border);
  border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
  outline: none;
  background-color: transparent;

  &:focus {
    border-color: #1c62b9;
  }
}

.header-form-button {
  width: 64px;
  height: var(--input-height);
  border: var(--border);
  border-left: none;
  border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;

  &:hover {
    background-color: var(--color-gray);
  }
}

.header-voice-button {
  height: var(--input-height);
  aspect-ratio: 1;
  background-color: var(--color-gray-light);
  border-radius: 50%;
}

.header-create-button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: var(--input-height);
  padding-inline: 16px;
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-large);

  span {
    font-weight: 500;
    font-size: 14px;
  }
}

.header-burger-button,
.header-voice-button,
.header-create-button,
.header-notifications-button {
  &:hover {
    background-color: var(--color-gray);
  }

  &:active {
    background-color: var(--color-gray-dark);
  }
}

.header-burger-button,
.header-logo,
.header-create-button,
.header-notifications-button,
.header-profile-button {
  flex-shrink: 0;
}

.header-profile-image {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
}

@media (min-width: 970px) {
  .header {
    column-gap: 10px;
  }

  .header-start {
    column-gap: 4px;
  }

  .header-center {
    column-gap: 16px;
    width: 100%;
    max-width: 536px;
  }
}

@media (max-width: 770px) {
  .header-logo {
    width: 100px;
  }

  .header-center {
    margin-left: auto;
  }

  .header-form-input {
    display: none;
  }

  .header-form,
  .header-form-body {
    justify-content: center;
  }

  .header-form-button {
    width: 40px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background-color: transparent;
  }

  .header-voice-button {
    display: none;
  }

  .header-create-button {
    width: 40px;
    aspect-ratio: 1;
    padding: 0;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;

    span {
      display: none;
    }
  }
}
