.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  min-height: var(--header-height);
  padding-inline: 16px;
  background-color: var(--color-light);
  z-index: 1;
}

.header__start,
.header__center,
.header__form-body,
.header__actions {
  display: flex;
  align-items: center;
}

.header__start,
.header__actions {
  column-gap: 8px;
}

.header__burger-button,
.header__notifications-button,
.header__form-button,
.header__voice-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__burger-button,
.header__notifications-button {
  width: 40px;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
}

.header__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 123px;
}

.header__center {
  display: flex;
  column-gap: 8px;
}

.header__form,
.header__form-input {
  flex-grow: 1;
}

.header__form-input {
  height: var(--input-height);
  padding-inline: 16px;
  border: var(--border);
  border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
  outline: none;
  background-color: transparent;
}

.header__form-input:focus {
  border-color: #1c62b9;
}

.header__form-button {
  width: 64px;
  height: var(--input-height);
  border: var(--border);
  border-left: none;
  border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
}

.header__form-button:hover {
  background-color: var(--color-gray);
}

.header__voice-button {
  height: var(--input-height);
  aspect-ratio: 1;
  background-color: var(--color-gray-light);
  border-radius: 50%;
}

.header__create-button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: var(--input-height);
  padding-inline: 16px;
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-large);
}

.header__create-button span {
  font-weight: 500;
  font-size: 14px;
}

.header__burger-button:hover,
.header__voice-button:hover,
.header__create-button:hover,
.header__notifications-button:hover {
  background-color: var(--color-gray);
}

.header__burger-button:active,
.header__voice-button:active,
.header__create-button:active,
.header__notifications-button:active {
  background-color: var(--color-gray-dark);
}

.header__burger-button,
.header__logo,
.header__create-button,
.header__notifications-button,
.header__profile-button {
  flex-shrink: 0;
}

.header__profile-image {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
}

@media (min-width: 970px) {
  .header {
    column-gap: 10px;
  }

  .header__start {
    column-gap: 4px;
  }

  .header__center {
    column-gap: 16px;
    width: 100%;
    max-width: 536px;
  }
}

@media (max-width: 770px) {
  .header__logo {
    width: 100px;
  }

  .header__center {
    margin-left: auto;
  }

  .header__form-input {
    display: none;
  }

  .header__form,
  .header__form-body {
    justify-content: center;
  }

  .header__form-button,
  .header__create-button {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .header__voice-button {
    display: none;
  }

  .header__create-button {
    padding: 0;
    justify-content: center;
  }

  .header__create-button span {
    display: none;
  }
}
