.video-card {
  display: grid;
  row-gap: 12px;
  padding: 8px 8px 16px;
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
  cursor: pointer;

  &:hover {
    background-color: rgb(36 59 38 / 0.1);

    .video-card__author,
    .video-card__footer {
      color: rgb(36 59 38 / 0.9);
    }
  }
}

.video-card__preview-wrapper {
  position: relative;
}

.video-card__preview-image {
  width: 100%;
  object-fit: contain;
  border-radius: var(--border-radius);
}

.video-card__preview-timeline {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 1px 4px;
  font-size: 14px;
  color: var(--color-light);
  background-color: rgb(0 0 0 / 0.8);
  border-radius: 4px;
}

.video-card__extra,
.video-card__body {
  display: flex;
}

.video-card__extra {
  justify-content: space-between;
  align-items: start;
}

.video-card__body {
  align-items: start;
  column-gap: 12px;
}

.video-card__image {
  border-radius: 50%;
}

.video-card__info {
  display: grid;
}

.video-card__title {
  font-weight: 500;
  font-size: 16px;
}

.video-card__author,
.video-card__footer {
  font-weight: 400;
  font-size: 14px;
  transition-duration: var(--transition-duration);
}

.video-card__settings {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;

  &:hover {
    background-color: var(--color-gray);
  }

  &:active {
    background-color: var(--color-gray-dark);
  }
}
